@model dotNetAcademy.Models.RoomExtended


@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@section Css {
    <link href="@Url.Content("~/css/hotels/room.css")" rel="stylesheet" />
}

@section Scripts {
    <script>
        var lat = @Model.Room.LatLocation;
        var lng = @Model.Room.LngLocation;
    </script>
    <script src="@Url.Content("~/js/hotels/room.js")"></script>
    <script async defer type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.exp&key=AIzaSyAP1CBF-e5lFiBHvj-xya_5W9reCj8O6mQ&callback=initMap"></script>
}

<div class="room-header">
    <span class="room-title">@(Model.Room.Name)</span>
    <span class="room-location">@(Model.Room.Location), @(Model.Room.Area), @(Model.Room.City)</span>
    <span class="room-rate">@(Model.Rate)</span>
    <span class="room-pricing"><span class="card-amount">@(Model.Room.Price) &euro;</span> / per night</span>
</div>
<div class="room-image">
    <img src="~/img/@(Model.Room.Photo)" alt="Flowers in Chania">
</div>

<div class="room-inpage-title">Features</div>

<div class="room-features">
    <div class="room-feature">
        <i class="fas fa-hotel"></i>
        <span> @(Model.Type.RoomType1)</span>
    </div>
    <div class="room-feature">
        <i class="fas fa-users"></i>
        <span> @(Model.Room.CountOfGuests) guests</span>
    </div>
    @if (Model.Room.Wifi == 1) {
        <div class="room-feature">
            <i class="fas fa-wifi"></i>
            <span>Has wifi</span>
        </div>
    }
    @if (Model.Room.Parking == 1) {
        <div class="room-feature">
            <i class="fas fa-parking"></i>
            <span> Has parking</span>
        </div>
    }
    @if (Model.Room.PetFriendly == 1) {
        <div class="room-feature">
            <i class="fas fa-paw"></i>
            <span> Pet friendly</span>
        </div>
    }
</div>

<div class="room-inpage-title">Description</div>

<div class="room-text">
    @(Model.Room.LongDescription)
</div>

<div class="room-inpage-title">Location</div>

<div id="map" class="room-map"></div>

<div class="room-inpage-title">Reviews</div>

<div class="room-add-review">
    <form action="" onsubmit="return false;" autocomplete="off">
        <div class="form-primary">
            <textarea></textarea>
            <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
        </div>
    </form>
</div>

<div class="room-reviews">
    <div class="room-review">
        <div class="review-user">
            <i class="fas fa-user"></i>
            <span>Nikos</span>
        </div>
        <div class="review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat augue at urna ultricies, et iaculis leo tristique. Maecenas eget eros ac nisl molestie faucibus at vel odio. Aliquam id ullamcorper libero, non congue augue. In placerat lectus ac consectetur elementum. Vivamus et posuere tellus. Praesent sagittis tellus ligula, sed dignissim arcu venenatis ac. Ut ullamcorper aliquam mauris, ac ultricies nulla ullamcorper ut. In mollis imperdiet ex nec semper. Aenean bibendum libero vitae lacus varius tempor. Praesent consequat neque lacinia sapien venenatis, ac finibus felis sollicitudin. Nullam at vestibulum diam.
        </div>
    </div>
    <div class="room-review">
        <div class="review-user">
            <i class="fas fa-user"></i>
            <span>Giorgos</span>
        </div>
        <div class="review-stars">
            <i class="fas fa-star"></i>
        </div>
        <div class="review-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat augue at urna ultricies, et iaculis leo tristique. Maecenas eget eros ac nisl molestie faucibus at vel odio. Aliquam id ullamcorper libero, non congue augue. In placerat lectus ac consectetur elementum. Vivamus et posuere tellus. Praesent sagittis tellus ligula, sed dignissim arcu venenatis ac. Ut ullamcorper aliquam mauris, ac ultricies nulla ullamcorper ut. In mollis imperdiet ex nec semper. Aenean bibendum libero vitae lacus varius tempor. Praesent consequat neque lacinia sapien venenatis, ac finibus felis sollicitudin. Nullam at vestibulum diam.
        </div>
    </div>
</div>
