<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="keywords" content="home,page">
    <meta name="author" content="Cholis Nikos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - dotNetAcademy</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Air Datepicker -->
    <link rel="stylesheet" type="text/css" href="~/lib/air-datepicker/dist/css/datepicker.css" />


    <environment include="Development">
        <link rel="stylesheet" href="~/css/root.css" />
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/elements.css" />
        <link rel="stylesheet" href="~/css/cards.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/root.css" />
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/elements.css" />
        <link rel="stylesheet" href="~/css/cards.css" />
    </environment>

    @RenderSection("Css", false)

</head>

<body>
    <!-- <header></header> -->
    <nav class="navbar">
        <h1 class="nav-header">Hotels</h1>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <input type="checkbox" id="nav-check">
        <div class="nav-links">
            <a class='@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")' asp-controller="Home" asp-action="Index">Home</a>
            @if (User.Identity.IsAuthenticated) {
                <a class='@(ViewContext.RouteData.Values["Action"].ToString() == "Profile" ? "active" : "")' asp-controller="User" asp-action="Profile">Profile</a>
            }
            @if (User.Identity.IsAuthenticated) {
                <a asp-controller="User" asp-action="Logout">Logout</a>
            } else {
                <a class='@(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")' asp-controller="User" asp-action="Login">Login</a>
            }
        </div>
    </nav>

    <div id="flex-wrapper">
        <main>
            <div id="main-wrapper">
                @RenderBody()
            </div>
        </main>

        <footer>
            <p> Coded by &copy Nikos Cholis </p>
        </footer>

    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Air Datepicker -->
    <script type="text/javascript" src="~/lib/air-datepicker/dist/js/datepicker.js"></script>
    <script type="text/javascript" src="~/lib/air-datepicker/dist/js/i18n/datepicker.en.js"></script>

    <script src="@Url.Content("~/js/base.js")"></script>

    @RenderSection("Scripts", false)

</body>
</html>
