<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="keywords" content="home,page">
    <meta name="author" content="Cholis Nikos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - dotNetAcademy</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Datepicker -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Air Datepicker -->
    <link rel="stylesheet" type="text/css" href="lib/air-datepicker/dist/css/datepicker.css" />


    <environment include="Development">
        <link rel="stylesheet" href="~/css/root.css" />
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/elements.css" />
        <link rel="stylesheet" href="~/css/cards.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/root.css" />
        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/elements.css" />
        <link rel="stylesheet" href="~/css/cards.css" />
    </environment>

    @RenderSection("Css", false)


</head>

<body>
    <!-- <header></header> -->
    <nav class="navbar">
        <h1 class="nav-header">Hotels</h1>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <input type="checkbox" id="nav-check">
        <div class="nav-links">
            <a href='@Url.Action("Index", "Hotels", null, null)'>Home</a>
            <a href='@Url.Action("Index", "Hotels", null, null)'>Profile</a>
            <a href='@Url.Action("Index", "Hotels", null, null)'>Login</a>
        </div>
    </nav>

    <div id="flex-wrapper">
        <main>
            <div id="main-wrapper">
                @RenderBody()
            </div>
        </main>

        <footer>
            <p> Coded by &copy Nikos Cholis </p>
        </footer>

    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Datepicker -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script> -->
    <!-- Air Datepicker -->
    <script type="text/javascript" src="lib/air-datepicker/dist/js/datepicker.js"></script>
    <script type="text/javascript" src="lib/air-datepicker/dist/js//i18n/datepicker.en.js"></script>

    @RenderSection("Scripts", false)


</body>
</html>
