@model dotNetAcademy.ViewModels.RoomFiltersModel

@{
    ViewData["Title"] = "Index";


    var cities = ViewData["Cities"] as IEnumerable<string>;
    var roomTypes = ViewData["RoomTypes"] as IEnumerable<RoomType>;

}

@section Css {
    <link href="@Url.Content("~/css/home/index.css")" rel="stylesheet" />
}

@section Scripts {
    <script src="@Url.Content("~/js/home/index.js")"></script>
}




@*<form action='@Url.Action("Search", "Hotels", null, null)' onsubmit="return formIsValid()">*@
<form method="get" asp-controller="Hotels" asp-action="Search" onsubmit="return formIsValid()">
    <div class="search-box form-primary">

        <div id="search-errors">
            <span asp-validation-for="City"></span>
            <span asp-validation-for="RoomTypeId"></span>
            <span asp-validation-for="CheckIn"></span>
            <span asp-validation-for="CheckOut"></span>
        </div>

        <select id="city"
                class="inp-primary"
                asp-for="City"
                asp-items="@(new SelectList(cities))">

            <option value="" hidden disabled selected>
                @Html.DisplayNameFor(i => i.City)
            </option>

        </select>

        <select id="roomtype"
                class="inp-primary"
                asp-for="RoomTypeId"
                asp-items="@(new SelectList(roomTypes, "Id", "RoomType1"))">

            <option value="" hidden disabled selected>
                @Html.DisplayNameFor(i => i.RoomTypeId)
            </option>

        </select>

        <input id="checkin"
               class='datepicker-here'
               type='text'
               asp-for="CheckIn"
               data-language='en'
               placeholder="@Html.DisplayNameFor(i => i.CheckIn)"
               autocomplete="off" />

        <input id="checkout"
               class='datepicker-here'
               type='text'
               asp-for="CheckOut"
               data-language='en'
               placeholder="@Html.DisplayNameFor(i => i.CheckOut)"
               autocomplete="off" />

        <button class="btn btn-primary" type="submit" value="Submit">Search</button>

    </div>
</form>
