@model dotNetAcademy.ViewModels.ProfileViewModel

@{ 
    ViewData["Title"] = "Profile";
}

@section Css {
    <link href="@Url.Content("~/css/home/profile.css")" rel="stylesheet" />
}

@section Scripts {
    <script src="@Url.Content("~/js/home/profile.js")"></script>
}

<div class="col-left">
    <h3> Favorites (@Model.Favorites.Count()) </h3>
    <div class="favorites-container">
        @if (!Model.Favorites.Any()) {
            <span> No favorites </span>
        } else {
            @foreach (var favorite in Model.Favorites) {
                <a class="card-link" asp-controller="Hotels" asp-action="Room" asp-route-id="@favorite.RoomId">
                    <div class="favorite-card">
                        <div class="favorite-name">@favorite.Room.Name</div>    
                    </div>
                </a>
            }
        }
    </div>
    <h3> Reviews (@Model.Reviews.Count()) </h3>
    <div class="reviews-container">
        @if (!Model.Reviews.Any()) {
            <span> No reviews </span>
        } else {
            @foreach (var review in Model.Reviews) {
                <a class="card-link" asp-controller="Hotels" asp-action="Room" asp-route-id="@review.RoomId">
                    <div class="review-card">
                        <div class="review-name">@review.Room.Name</div>    
                        <div class="review-stars">
                            @for (var i = 1; i <= 5; i++) {
                                @if (i <= review.Rate) {  <i class="fas fa-star yellow"></i> }
                                else { <i class="fas fa-star grey"></i> }
                            }
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>

<div class="col-right">
    <h3> Bookings (@Model.Rooms.Count()) </h3>
    <div class="cards-container-1c">
        @if (!Model.Rooms.Any()) {
            <span> No bookings </span>
        }
        else {
            @foreach (var room in Model.Rooms) {
                <a class="card-link" asp-controller="Hotels" asp-action="Room" asp-route-id="@room.RoomId" asp-route-checkin='@room.Bookings.ElementAt(0).CheckInDate' asp-route-checkout='@room.Bookings.ElementAt(0).CheckOutDate'>
                    <div class="hotel-card">
                        <div class="card-image" style="background-image: url(/img/@(room.Photo));"></div>
                        <div class="card-content">
                            <div class="card-row">
                                <div class="card-info">
                                    <div class="card-title">@(room.Name)</div>
                                    <div class="card-location">@(room.Area), @(room.City)</div>
                                </div>
                                <div class="card-rate">@room.Reviews.Select(x => x.Rate).DefaultIfEmpty(0).Average().ToString("0.0")<i class="fas fa-star"></i></div>
                            </div>
                            <div class="card-dates">
                                @( DateTime.ParseExact(room.Bookings.ElementAt(0).CheckInDate, "yyyy-mm-dd", null).Date.ToString("dd MMM yyyy") )
                                -
                                @( DateTime.ParseExact(room.Bookings.ElementAt(0).CheckOutDate, "yyyy-mm-dd", null).Date.ToString("dd MMM yyyy") )
                            </div>
                            <div class="card-row">
                                <div class="card-type"><i class="fas fa-home"></i> @(room.RoomType.RoomType1)</div>
                                <div class="card-guests"><i class="fas fa-users"></i> @(room.CountOfGuests)</div>
                                <div class="card-pricing"><span class="card-amount">@(room.Price) &euro;</span> / per night </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>
